    /* CSS DO CABEÇALHO */
.menu {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.menu__item:nth-child(1) {
    grid-area: 1/1/2/4;
}

.menu__item:nth-child(2),
.menu__item:nth-child(3),
.menu__item:nth-child(4) {
    align-self: center;
    text-align: center;
}

.menu__item:last-child {
    grid-area: 3/1/4/4;
}

    /* CSS DE CATEGORIAS */

.categorias__lista {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.categorias__destaques .destaques {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.categorias__destaques .destaques__barra {
    flex-grow: 1;
}

    /* CSS DE EVENTOS */

.eventos__lista {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: center;
}

.eventos__item {
    flex-grow: 1;
    max-width: 400px;

}

    /* CSS DA AGENDA */

.agenda__lista {
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agenda__item {
    display: flex;
    flex-wrap: wrap;
}

.agenda__informacoes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.agenda__atracao {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 50%;
}

.agenda__botao {
    align-self: center;
}

/* CSS DO RODAPÉ */

.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
}

.rodape__logo {
    align-self: end;
}

@media screen and (min-width: 720px) {
    
    /* CSS DO CABEÇALHO */
    
    .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 75px;
    }

    /* CSS DE CATEGORIAS */

    .categorias__lista {
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }

    /* CSS DE EVENTOS */

    .eventos__lista {
        justify-content: end;
    }

    /* CSS DA AGENDA */

    .agenda__lista {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        justify-content: end;
    }
}

@media screen and (min-width: 1440px) {
    
    /* CSS DO CABEÇALHO */
    
    .menu {
        column-gap: 105px;
        flex-wrap: nowrap;
    }

    .menu__item:nth-child(1) {
        order: 1;
    }
    
    .menu__item:nth-child(2) {
        order: 3;
    }

    .menu__item:nth-child(3) {
        order: 4;
    }

    .menu__item:nth-child(4) {
        order: 5;
    }

    .menu__item:nth-child(5) {
        order: 2;
    }
    
    .agenda__item {
        flex-grow: 1;
    }
}
